footer
{
	padding: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: space-between;
}

a
{
	color: #FFFFFF;
	text-decoration: none;
}

a:link 
{
	color: #FFFFFF;
}

a:visited 
{
	color: #FFFFFF;
}

a:hover
{
	color: #BBBBBB;
}

.Menu_Item
{
	margin-right: 20px;
}